*

!.gitignore
!README.md

!*/

# Ignoriamo tutti i file .tex in tutte le sottocartelle
!*.tex

!docs/img/
!docs/img/*

!docs/puml/
!docs/puml/*

!source/
!source/*
!source/**/*.py

!docs/piano.md

# Alla fine -> !*.pdf